@import 'global-variables';
@import 'background';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

mat-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  mat-card-title {
    display: flex;
    justify-content: center;
    font-size: 2.6rem;
  }

  .mat-card-avatar {
    height: 11rem;
    width: 11rem;
    margin-top: -6.5rem;
  }
}

mat-card-content {
  display: flex;
  justify-content: center;
}

.discord-login {
  background-color: #2c2f33;
  color: #ffffff;
  line-height: 2.8rem;
  font-size: 1.3rem;
  text-align: center;

  fa-icon {
    margin-right: 0.5ch;
  }
}
