<figure class="background">
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</figure>

<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <img mat-card-avatar src="assets/logo.png" alt="Logo" />
    <mat-card-title class="mat-display-3">Duelists Unite</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <button mat-raised-button class="discord-login" (click)="login()">
      <fa-icon [icon]="['fab', 'discord']" size="1x"></fa-icon>
      Login
    </button>
  </mat-card-content>
</mat-card>
