<ng-container *ngIf="isLoading$ | async; else articles">Loading...</ng-container>

<ng-template #articles>
  <news-article
    *ngFor="let article of articles$ | async; trackBy: trackByID"
    [title]="article.title"
    [body]="article.body"
  ></news-article>
</ng-template>
