@import '~@angular/material/theming';
@import 'global-variables';

html,
body {
  min-height: calc(100vh - 8px);
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  @extend .mat-app-background;
}

body {
  font-family: 'Lexend Deca', 'Helvetica Neue', sans-serif;
}

@font-face {
  font-family: 'Anurati';
  src: url('./anurati.woff2') format('woff2');
}

$theme: mat-light-theme($primary, $accent, $warn);
$typography: mat-typography-config(
  $font-family: 'Lexend Deca, Roboto, monospace',
  $display-1: mat-typography-level(34px, 34px, 500, 'Anurati'),
  $display-2: mat-typography-level(45px, 45px, 500, 'Anurati'),
  $display-3: mat-typography-level(56px, 56px, 500, 'Anurati'),
  $display-4: mat-typography-level(112px, 112px, 500, 'Anurati'),
);

@include angular-material-theme($theme);
@include mat-core($typography);
